
[submodule "Libraries/RadioLib"]
	path = Libraries/RadioLib
	url = https://github.com/Project-Owl/RadioLib.git
[submodule "Libraries/arduino-timer"]
	path = Libraries/arduino-timer
	url = https://github.com/contrem/arduino-timer
[submodule "Libraries/AsyncTCP"]
	path = Libraries/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP
[submodule "Libraries/esp8266-oled-ssd1306"]
	path = Libraries/esp8266-oled-ssd1306
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306
[submodule "Libraries/ESPAsyncWebServer"]
	path = Libraries/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer
[submodule "Libraries/Adafruit_BMP085_Unified"]
	path = Libraries/Adafruit_BMP085_Unified
	url = https://github.com/adafruit/Adafruit_BMP085_Unified
[submodule "Libraries/Adafruit_BMP280_Library"]
	path = Libraries/Adafruit_BMP280_Library
	url = https://github.com/adafruit/Adafruit_BMP280_Library
[submodule "Libraries/Adafruit_Sensor"]
	path = Libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "Libraries/DHT-sensor-library"]
	path = Libraries/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library
[submodule "Libraries/U8g2_Arduino"]
	path = Libraries/U8g2_Arduino
	url = https://github.com/olikraus/U8g2_Arduino.git
[submodule "Libraries/GP2YDustSensor"]
	path = Libraries/GP2YDustSensor
	url = https://github.com/luciansabo/GP2YDustSensor.git
[submodule "Libraries/MQSensorsLib"]
	path = Libraries/MQSensorsLib
	url = https://github.com/miguel5612/MQSensorsLib.git
[submodule "Libraries/pubsubclient"]
	path = Libraries/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "Libraries/FastLED"]
	path = Libraries/FastLED
	url = https://github.com/FastLED/FastLED.git
[submodule "Libraries/AXP202X_Library"]
	path = Libraries/AXP202X_Library
	url = https://github.com/lewisxhe/AXP202X_Library.git
[submodule "Libraries/ArduinoJson"]
	path = Libraries/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "Libraries/CRC32"]
	path = Libraries/CRC32
	url = https://github.com/bakercp/CRC32.git

