
[submodule "Libraries/pubsubclient"]
	path = Libraries/pubsubclient
	url = https://github.com/knolleary/pubsubclient.git
[submodule "Libraries/arduino-LoRa"]
	path = Libraries/arduino-LoRa
	url = https://github.com/sandeepmistry/arduino-LoRa
[submodule "Libraries/arduino-timer"]
	path = Libraries/arduino-timer
	url = https://github.com/contrem/arduino-timer
[submodule "Libraries/AsyncTCP"]
	path = Libraries/AsyncTCP
	url = https://github.com/me-no-dev/AsyncTCP
[submodule "Libraries/esp8266-oled-ssd1306"]
	path = Libraries/esp8266-oled-ssd1306
	url = https://github.com/ThingPulse/esp8266-oled-ssd1306
[submodule "Libraries/ESPAsyncWebServer"]
	path = Libraries/ESPAsyncWebServer
	url = https://github.com/me-no-dev/ESPAsyncWebServer
[submodule "Libraries/Adafruit_BMP085_Unified"]
	path = Libraries/Adafruit_BMP085_Unified
	url = https://github.com/adafruit/Adafruit_BMP085_Unified
[submodule "Libraries/Adafruit_BMP280_Library"]
	path = Libraries/Adafruit_BMP280_Library
	url = https://github.com/adafruit/Adafruit_BMP280_Library
[submodule "Libraries/Adafruit_Sensor"]
	path = Libraries/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "Libraries/DHT-sensor-library"]
	path = Libraries/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library
